html, body {
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.tar {
    text-align: right;
}

.tal {
    text-align: left;
}

.tac {
    text-align: center;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.pre {
    white-space: pre;
}

.nvpd {
    padding: 7px 10px;
}

.mp {
    padding: 20px 7px;
}

.sp {
    padding: 10px 7px;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 600px) {
    .ma {
        margin-left: 2%;
        margin-right: 2%;
    }

    .hfsa {
        font-size: 22px;
    }

    .sfsa {
        font-size: 16px;
    }
}

@media only screen and (min-width: 600px) {
    .mb {
        margin-left: 2%;
        margin-right: 2%;
    }

    .hfsb {
        font-size: 22px;
    }

    .sfsb {
        font-size: 16px;
    }
}

@media only screen and (min-width: 768px) {
    .mc {
        margin-left: 5%;
        margin-right: 5%;
    }

    .hfsc {
        font-size: 26px;
    }

    .sfsc {
        font-size: 18px;
    }
}

@media only screen and (min-width: 992px) {
    .md {
        margin-left: 15%;
        margin-right: 15%;
    }

    .hfsd {
        font-size: 28px;
    }

    .sfsd {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1200px) {
    .me {
        margin-left: 15%;
        margin-right: 15%;
    }

    .hfse {
        font-size: 30px;
    }

    .sfse {
        font-size: 20px;
    }
}

.logostyle {
    font-size: 36px;
}

header {
    width: 100%;
    font-size: 40px;
    background-color: #FF6D00;
    color: white;
    padding: 10px 7px;
}

.subheader {
    width: 100%;
    font-size: 18px;
    background-color: #FF6D00;
    color: white;
    display: flex;
    align-items: flex-start;
    height: fit-content;
    box-shadow: 0px 4px 0px #FF6D00;
}

.noticeboard {
    width: 100%;
    background-color: #263238;
    color: white;
    box-shadow: inset 0px -10px 0px #FF6D00;
}

.type-a {
    border: 4px solid #FF6D00;
    border-radius: 20px;
    padding: 10px 10px;
    background-color: #FF6D00;
    color: white;
}

.type-b {
    border: 4px solid #FF6D00;
    border-radius: 20px;
    padding: 10px 10px;
    background-color: transparent;
    color: #FF6D00
}

footer {
    background-color: #263238;
    box-shadow: 0px -10px 0px #FF6D00;
    color: white;
}

.splcard {
    background-color: #FF6D00;
    text-align: center;
    color: white;
}

.icon {
    font-size: 128px;
}

.spltxt {
    font-size: 24px;
}